#dialogImage {
    width: 40rem;
    border-Radius: 4rem;
    margin-Bottom: 10rem;
}

#dialogContainer {
    padding: 7rem;
    text-align: center;
}

#dialogHr {
    margin: 1.5rem;
}

#workerDesc {
    font-size: 1.2rem
}
